services:
  app:
    build: .
    ports:
      - 8080:8080
    depends_on:
      database:  
        condition: service_healthy
  database:
    image: mariadb:lts
    environment:
      - MARIADB_DATABASE=springinn
      - MARIADB_USER=dev
      - MARIADB_PASSWORD=1234
      - MARIADB_RANDOM_ROOT_PASSWORD=true
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3