name: Java CI with Docker compose

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run tests with docker
      run: docker compose -f docker-compose.yml -f docker-compose-test.yml up --exit-code-from app

